{
    "version": "1.0.0",
    "package": {
        "version": "{{ version }}",
        "name": "ecmp-stats",
        "changelog": {
            "1.0.0": {
                "changes": ["Initial release"],
                "author": "Vivek Reddy",
                "email": "vkarri@nvidia.com",
                "date": "Fri, 04 Nov 2022 12:24:30 +0300"
            }
        }
    },
    "service": {
        "name": "{{ container_name }}",
        "requires": ["swss", "syncd"],
        "after": ["swss", "syncd"],
        "warm-shutdown": {
            "after": ["swss"],
            "before": ["syncd"]
        },
        "fast-shutdown": {
            "before": ["swss"]
        }
    },
    "container": {
        "privileged": true
    }
}